body{
  background-color: black;
  height: 100vh
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  font-size: 3em;
  color: rgb(227, 227, 227);
  margin: 50px;
}
